<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Sarige Cabs-Tour Packages, Cab Booking, Cabs for Outstation, Car Rental Bangalore, Airport Taxis in Bangalore</title>
	  <meta name=description content="Sarige Cabs provides cabs for outstation with all variety of vehicles."/>
    <meta name=keywords content="Tour Packages, Cab Booking, Cabs for Outstation, Car Rental Bangalore, Airport Taxis in Bangalore, Best cabs for outstation, Cheapest holiday tour packages "/>
    <meta name=robots content="index, follow">
    <meta name=language content="english">
    <meta property=og:locale content="en_IN"/>
    <meta property=og:type content="website"/>
    <meta property=og:title content="Cheapest holiday tour packages in and around bangalore | Sarige Cabs"/>
    <meta property=og:type content="services" />
    <meta property=og:url content="https://www.sarigecabs.com"/>
    <meta property=og:image content="https://www.sarigecabs.com/assets/img/logo-rentit.png"/>
    <meta property=og:description content="Sarige Cabs - Best outstation cabs from bangalore, India. "/>
    <meta property=og:site_name content="Sarige Cabs"/>
    <link rel=canonical href="https://www.sarigecabs.com/index.html"/>
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/favicon.png">
      <link rel="shortcut icon" href="assets/img/favicon.png">
      <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
      <link href="assets/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="assets/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
      <link href="assets/plugins/owl-carousel2/assets/owl.carousel.min.css" rel="stylesheet">
      <link href="assets/plugins/owl-carousel2/assets/owl.theme.default.min.css" rel="stylesheet">
      <link href="assets/plugins/animate/animate.min.css" rel="stylesheet">
      <link href="assets/plugins/swiper/css/swiper.min.css" rel="stylesheet">
      <link href="assets/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
      <link href="assets/css/bootstrap-timepicker.min.css" rel="stylesheet">
      <link href="assets/css/theme.css" rel="stylesheet">
      <link href="assets/css/theme-red-1.css" rel="stylesheet" id="theme-config-link">
      <script src="assets/plugins/modernizr.custom.js"></script>
   <script>
function set()
{
	
	if(document.dataform.phone.value == '') {
		alert("Kindly enter your Phone Number.");
		document.dataform.phone.focus();
		return false;
	}
	if(isNaN(document.dataform.phone.value))
		{
			alert("Kindly enter your Phone Number in numeric form only");
			document.dataform.phone.value='';
			document.dataform.phone.focus();
			return false;
		}
		if(document.dataform.email.value == '') {
		alert("Kindly enter your Email ID.");
		document.dataform.email.focus();
		return false;
	}
	if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/.test(document.dataform.email.value))) {
			alert("Invalid Email ID. Kindly enter the correct ID.");
			document.dataform.email.value='';
			document.dataform.email.focus();
			return (false);
	}
		
			if (document.dataform.pickup.value.length == 0)  {
		alert ("Kindly enter your Pickup place");
		document.dataform.pickup.focus();
		return false;
	}
	if (document.dataform.drop.value.length == 0)  {
		alert ("Kindly enter your drop place");
		document.dataform.drop.focus();
		return false;
	}
			if (document.dataform.pickdate.value.length == 0)  {
		alert ("Kindly enter your Pick-up Date");
		document.dataform.pickdate.focus();
		return false;
	}
		if (document.dataform.picktime.value.length == 0)  {
		alert ("Kindly enter your pickup Time.");
		document.dataform.picktime.focus();
		return false;
	}
		
	
}
</script>
 
   </head>
   <body id="home" class="wide">
      <!-- WRAPPER -->
      <div class="wrapper">
         <!-- HEADER -->
         <header class="header fixed">
            <div class="header-wrapper">
			 <div class="container">
			 <div class="row">
			  <div class="col-sm-5 col-md-5 col-lg-5"></div>
			  <div class="col-sm-7 col-md-7 col-lg-7">
			   <h4 class="help-line blink"><i ><img src="assets/img/phone.png" alt="image"/></i><b>Helpline Number :</b> <a href="tel:08042076875" style="color:#ffffff;"> 080 42076875</a></h4><h4 class="help-line blink"><i ><img src="assets/img/whatsapp.png" alt="image"/></i><a href="https://wa.me/+919980056565"  target="_blank" style="color:#ffffff;"> +91 9980056565</a> </h4> 
			 
			</div>
			 </div>
			 </div>
               <div class="container">
                  <!-- Logo -->
                  <div class="logo">
                     <a href="index.html"><img src="assets/img/logo-rentit.png" alt="Sarige Cabs"/></a>
                  </div>
                  <!-- /Logo -->
                  <!-- Mobile menu toggle button -->
                  <a href="#" class="menu-toggle btn ripple-effect btn-theme-transparent"><i class="fa fa-bars"></i></a>
                  <!-- /Mobile menu toggle button -->
                  <!-- Navigation -->
                  <nav class="navigation closed clearfix">
                     <div class="swiper-wrapper">
                        <div class="swiper-slide">
                           <!-- navigation menu -->
                           <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                           <ul class="nav sf-menu">
                             
                              <li><a href="airport-taxis.html">Airport</a></li>
                              <li><a href="tour-packages.html">Tour Packages</a></li>
                              <li><a href="best-cabs-for-outstation.html">Our Fleet</a></li>
                              <li><a href="about.html">About</a></li>
							  <li><a href="contact.html">Contact Us</a></li>
                           </ul>
                           <!-- /navigation menu -->
                        </div>
                     </div>
                     <!-- Add Scroll Bar -->
                     <div class="swiper-scrollbar"></div>
                  </nav>
                  <!-- /Navigation -->
               </div>
            </div>
         </header>
         <!-- /HEADER -->
         <!-- CONTENT AREA -->
         <div class="content-area">
            <section class="page-section contact0 dark ">
               <div class="container">
                 
                    
                           <h2 class="section-title wow fadeInUp" data-wow-offset="70" data-wow-delay="500ms">
                              <span>FIND BEST CAB RENTAL</span>
                           </h2>
                           <div class="tabs awesome wow fadeInUp" data-wow-offset="70" data-wow-delay="500ms">
                              <ul id="tabs1" class="nav">
                                 
								 <li><a href="index.html" >Airport</a></li>   
                                 <li ><a href="outstations.html" >Outstation</a></li>                               
                                
                                
                                 <li class=""><a href="hourly-rentals.html" >Local</a></li>
                                 
                                 <li class="active"><a href="book-tour-packages.html" >Tour Packages</a></li>
                              </ul>
                           </div>
                           <div class="tab-content wow fadeInUp" data-wow-offset="70" data-wow-delay="500ms">
						   
						 <div class="tab-pane fade in active" id="tab-x4">
                                 <div class="car-big-card">
                                    <div class="row">
                                       <div class="col-md-12">
                                          <!-- Sub tabs content -->
                                          <div class="tab-content">
                                             <!-- Search form -->
                                                         <div class="row">
														 
														   
                                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                               <div class="form-search light">
                                                                  <form action="tour-packages.php" method="post" name="dataform" onsubmit="return set()">
                                                                     <div class="form-title">
                                                                        <i class="fa fa-globe"></i>
                                                                        <h2>Tour Packages</h2>
                                                                     </div>
                                                                      <div class="row row-inputs">
                                                                        <div class="container-fluid">
																		
																		  
                                                                           <div class="col-sm-6 col-md-6">
                                                                              <div class="form-group af-inner">
                                                                                 <label >Phone Number</label>
                                                                                 
                                                                                 <input type="text" name="phone" id="phone" placeholder="Phone Number" value="" size="30"
                                                                                    data-toggle="tooltip" title="Phone Number is required"
                                                                                    class="form-control placeholder">
                                                                              </div>
                                                                           </div>
                                                                           <div class="col-sm-6 col-md-6">
                                                                              <div class="form-group af-inner">
                                                                                 <label>Email</label> 
                                                                                 
                                                                                 <input type="text" name="email" id="email" placeholder="Email" value="" size="30"
                                                                                    data-toggle="tooltip" title="Email is required"
                                                                                    class="form-control placeholder">
                                                                              </div>
                                                                           </div>
																		    
                                                                           <div class="col-sm-6 col-md-6">
                                                                              <div class="form-group has-icon has-label">
                                                                                 <label for="formSearchUpLocation">Pickup place</label>
                                                                                 <input type="text" name="pickup" class="form-control" id="formSearchUpLocation" placeholder="Airport,City.." >
                                                                                 
                                                                              </div>
                                                                           </div>
																		   <div class="col-sm-6">
                                                                              <div class="form-group has-icon has-label">
                                                                                 <label >Drop place</label>
                                                                                 <input type="text" name="drop"  placeholder="Airport,City.." value="" size="30"
                                                                                    data-toggle="tooltip"  class="form-control placeholder" >
                                                                                
                                                                              </div>
                                                                           </div>
																		   
																		    
                                                                           <div class="col-sm-6 col-md-6 ">
                                                                              <label >Pickup Date</label>
                                                                                 <div class="form-group">
                                                                                    <div class='input-group date'>
                                                                                        <input type='text' name="pickdate" class="form-control"  >
                                                                                         <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                                                         </span>
                                                                                      </div>
                                                                                    </div>
                                                                           </div>
                                                                          <div class="col-sm-6 col-md-6 col-lg-6">
                                                                                <label for="appt">Pickup Time</label>
                                                                             <div class="form-group">
                                                                                   																					  
																					  <div class="input-group bootstrap-timepicker timepicker">
																							<input type="time" id="appt" name="picktime"  class="form-control input-small" >
																							
																						</div>
                                                                                    </div>
																			</div>
																			<div class="col-sm-12 col-md-12">
																			  <input type="hidden" name="car" value="Hatchback"  />
                                                                              <label class="w3-text-green"><b>Select the car</b></label><br>
                                                                              <select class="form-control" name="car" onchange="calculateAmount(this.value)" >
                                                                                 <option value="" disabled selected>Choose your option</option>
                                                                                 <option value="HATCHBACK">HATCHBACK</option>
                                                                                 <option value="SEDAN">SEDAN</option>
                                                                                 <option value="SEDAN LUXURY">SEDAN LUXURY</option>
                                                                                 <option value="INNOVA">INNOVA</option>
                                                                                 <option value="TT AC">TT AC</option>
																				 <option value="MAXI CABS">MAXI CABS</option>
																				 <option value="MINI BUS">MINI BUS</option>
                                                                                  <option value="BUS">BUS</option>
                                                                              </select>
																			  </div>
																		  <div class="col-sm-12 col-md-12">
																			  <input type="hidden" name="package" value=""  />
                                                                              <label class="w3-text-green"><b>Select the package</b></label><br>
                                                                              <select class="form-control" name="packages" onchange="calculateAmount(this.value)" >
                                                                                 <option value="" disabled selected>Choose your option</option>
																				 
                                                                                 <option value="Karnataka Package">Karnataka Package</option>
                                                                                 <option value="Andhra Pradesh Package">Andhra Pradesh Package</option>
                                                                                 <option value="Mysore Package">Goa Package</option>
                                                                                 <option value="Goa Package">Kerala Package</option>
                                                                                 <option value="Tamilnadu Package">Tamilnadu Package</option>
                                                                                 <option value="Honeymoon Package">Honeymoon Package</option>
                                                                                 <option value="Pilgrimage Package">Pilgrimage Package</option>
                                                                                 <option value="One day trip from bangalore Package">One day trip from bangalore Package</option>
																				 
                                                                                 <option value="Mysore Package">Mysore Package</option>
                                                                                 <option value="Alleppey Package">Alleppey Package</option>
                                                                                 <option value="Tirupati Package">Tirupati Packages</option>
                                                                                 <option value="Nandi Hills Package">Nandi Hills Package</option>
                                                                                 <option value="Kalangunte Beach Package">Kalangunte Beach Package</option>
                                                                                 <option value="Rameshwaram Package">Rameshwaram Package</option>
                                                                                 <option value="Coorg Package">Coorg Package</option>
                                                                                 <option value="Manchinbele Dam Package">Manchinbele Dam Package</option>
                                                                                 <option value="Udupi Package">Udupi Package</option>
                                                                                 <option value="Visakhapatnam Package">Visakhapatnam Package</option>
                                                                              </select>
																			
																			  </div>
																			  
																			  
																			  <div class="col-sm-12 col-md-12">
																			  <input type="hidden" name="custompackage" value=""  />
                                                                              <label class="w3-text-green"><b>Custom Packages</b></label><br>
																			  <div class="outer required">
                                                                               <div class="form-group af-inner">
                                                                                 
                                                                                 <input type="text" name="sub" id="subject" placeholder="Enter your custom packages (Ex. Rameshwaram, Madikeri...etc)" value="" size="30" data-toggle="tooltip" title="package is required"  class="form-control placeholder"/>
                                </div>
                                                                          </div>
                                                                          </div>
                                                                         </div>
                                                                     </div>
																	 
									
                                                                     <div class="row row-submit">
                                                                        <div class="container-fluid">
                                                                           <div class="inner">
                                                                              <button type="submit" id="formSearchSubmit" class="btn btn-submit btn-theme pull-right">Book</button>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </form>
                                                               </div>
                                                            </div>
															<div class="col-sm-6 col-md-6 col-lg-6">
														  <h2 class="caption-subtitle">Tour Packages</h2>
												<p>► Experience best Tour Packages with Sarige Cabs. </p>
												<p>► Fixed charges for each package. </p>
												<p>► No extra hidden charges.</p>
												<p>► Driver helps you to visit each and every places.</p>
												<p>► Interstate checkpost charges and toll charges will be extra.</p>
												<p>► Experience punctual and comfortable service with Sarige cabs. </p>
												<p>► Round the clock customer support.</p>
														 </div>
                                                         </div>
                                                         <!-- /Search form -->
                                          </div>
                                          <!-- /Sub tabs content -->
                                       </div>
                                    </div>
                                 </div>
                              </div>
</div>

<!-- /Get in touch -->
</div>
</section>
<!-- PAGE -->
            <section class="page-section gray">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6 wow fadeInLeft" data-wow-offset="200" data-wow-delay="100ms">
                        <h2 class="section-title text-left">
                           <small>Welcome To</small>
                           <span>SARIGE CABS</span>
                        </h2>
                        <p>We introducing ourselves as a "SARIGE CABS" a chauffeured car rentals company stepping into the ground to serve you better and fulfil requirement of personal / official trip, on local / outstation plans. </p>
                        <p>We have the right people with us who brought along rich experience in the field of transportation & we promise you that no compromise in quality of service with all your blessings.</p>
                     </div>
                     <div class="col-md-6 wow fadeInRight" data-wow-offset="200" data-wow-delay="300ms">
                       
                           <div class="post-media">
                              <!-- 16:9 aspect ratio -->
                              <div class="embed-responsive embed-responsive-16by9">
                                 <img src="assets/img/preview/blog/blog-post-870x370x2.jpg" alt="image">
                              </div>
                           </div>
                        
                     </div>
                  </div>
               </div>
            </section>
            <!-- /PAGE -->
            <!-- PAGE -->
            <section class="page-section">
               <div class="container">
                  <h2 class="section-title wow fadeInUp" data-wow-offset="70" data-wow-delay="100ms">
                     <small>What a Kind of Car You Want</small>
                     <span>Packages</span>
                  </h2>
                  <div class="tabs wow fadeInUp" data-wow-offset="70" data-wow-delay="300ms">
                     <ul id="tabs" class="nav">
                        <!--
                           -->
                        <li class="active"><a href="#tab-2" data-toggle="tab">Popular Cars</a></li>
                        <!--
                           -->
                        <li class=""><a href="#tab-1" data-toggle="tab">Best Tourist Places</a></li>
                        <!--
                           -->
                     </ul>
                  </div>
                  <div class="tab-content wow fadeInUp" data-wow-offset="70" data-wow-delay="500ms">
                     <!-- tab 1 -->
                     <div class="tab-pane fade" id="tab-1">
                        <div class="swiper swiper--offers-best">
                           <div class="swiper-container">
                              <div class="swiper-wrapper">
                                 <!-- Slides -->
                                 <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/cars/kerala.jpg">
                                          <img src="assets/img/preview/cars/kerala.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="kerala.html">ALLEPPEY </a></h4>
                                          <div class="caption-text">Kerala</div>
                                          <div class="buttons">
                                             <a class="btn btn-theme ripple-effect" href="kerala.html">Book Now</a>
                                          </div>
                                         
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/cars/bangalore.jpg">
                                          <img src="assets/img/preview/cars/bangalore.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="#"> Bangalore  </a></h4>
                                          <div class="caption-text">Karnataka</div>
                                          <div class="buttons">
                                              <a class="btn btn-theme ripple-effect" href="karnataka.html">Book Now</a>
                                          </div>
                                         
                                       </div>
                                    </div>
                                 </div>
								 
                                 <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/cars/tirupati.jpg">
                                          <img src="assets/img/preview/cars/tirupati.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="andhra.html">Tirupati</a></h4>
                                          <div class="caption-text">Andhra Pradesh</div>
                                          <div class="buttons">
                                              <a class="btn btn-theme ripple-effect" href="andhra.html">Book Now</a>
                                          </div>
                                         
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/cars/beach.jpg">
                                          <img src="assets/img/preview/cars/beach.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="goa.html">Calangunte Beach</a></h4>
                                          <div class="caption-text">Goa</div>
                                          <div class="buttons">
                                            <a class="btn btn-theme ripple-effect" href="goa.html">Book Now</a>
                                          </div>
                                          
                                       </div>
                                    </div>
                                 </div>
								  <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/cars/tamilnadu.jpg">
                                          <img src="assets/img/preview/cars/tamilnadu.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="tamilnadu.html"> RAMESHWARAM</a></h4>
                                          <div class="caption-text">Tamil Nadu</div>
                                          <div class="buttons">
                                            <a class="btn btn-theme ripple-effect" href="tamilnadu.html">Book Now</a>
                                          </div>
                                          
                                       </div>
                                    </div>
                                 </div>
								  <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/cars/coorg.jpg">
                                          <img src="assets/img/preview/cars/coorg.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="honeymoon-karnataka.html"> COORG</a></h4>
                                          <div class="caption-text">Honeymoon Places in Karnataka</div>
                                          <div class="buttons">
                                            <a class="btn btn-theme ripple-effect" href="honeymoon-karnataka.html">Book Now</a>
                                          </div>
                                          
                                       </div>
                                    </div>
                                 </div>
								  <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/cars/oneday.jpg">
                                          <img src="assets/img/preview/cars/oneday.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="oneday-trip.html"> MANCHINBELE DAM</a></h4>
                                          <div class="caption-text">One Day Trips from Bangalore</div>
                                          <div class="buttons">
                                            <a class="btn btn-theme ripple-effect" href="oneday-trip.html">Book Now</a>
                                          </div>
                                          
                                       </div>
                                    </div>
                                 </div>
								 <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/cars/udupi.jpg">
                                          <img src="assets/img/preview/cars/udupi.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="pilgrimage.html">UDUPI</a></h4>
                                          <div class="caption-text">Best Places For Pilgrimages</div>
                                          <div class="buttons">
                                            <a class="btn btn-theme ripple-effect" href="pilgrimage.html">Book Now</a>
                                          </div>
                                          
                                       </div>
                                    </div>
                                 </div>
								 
                              </div>
                           </div>
                           <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
                           <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
                        </div>
                     </div>
                     <!-- tab 2 -->
                     <div class="tab-pane fade active in" id="tab-2">
                        <div class="swiper swiper--offers-popular">
                           <div class="swiper-container">
                              <div class="swiper-wrapper">
                                 <!-- Slides -->
                                 <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/portfolio/indica-1.jpg">
                                          <img src="assets/img/preview/portfolio/indica.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="#">Hatchback</a></h4>
                                          <div class="caption-text">starts at Rs 9 per KM</div>
                                          <div class="buttons">
                                             <a class="btn btn-theme ripple-effect" href="best-cabs-for-outstation.html">Book Now</a>
                                          </div>
                                          
                                       </div>
                                    </div>
                                 </div>
                                
                                 <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/portfolio/prime.jpg">
                                          <img src="assets/img/preview/portfolio/prime-1.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="#">Sedan</a></h4>
                                          <div class="caption-text">starts at Rs 10 per KM</div>
                                          <div class="buttons">
                                              <a class="btn btn-theme ripple-effect" href="best-cabs-for-outstation.html">Book Now</a>
                                          </div>
                                         
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/cars/car-370x220x4.jpg">
                                          <img src="assets/img/preview/cars/car-370x220x4.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="#">SUV</a></h4>
                                          <div class="caption-text">starts at  Rs 12 per KM</div>
                                          <div class="buttons">
                                             <a class="btn btn-theme ripple-effect" href="best-cabs-for-outstation.html">Book Now</a>
                                          </div>
                                         
                                       </div>
                                    </div>
                                 </div>
								 <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/portfolio/tt.jpg">
                                          <img src="assets/img/preview/portfolio/tt.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="#">MAXI CABS</a></h4>
                                          <div class="caption-text">starts at Rs 12 per KM</div>
                                          <div class="buttons">
                                             <a class="btn btn-theme ripple-effect" href="best-cabs-for-outstation.html">Book Now</a>
                                          </div>
                                         
                                       </div>
                                    </div>
                                 </div>
								 <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/portfolio/swarj.jpg">
                                          <img src="assets/img/preview/portfolio/swarj.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="#">MINI BUS</a></h4>
                                          <div class="caption-text">starts at Rs 12 per KM</div>
                                          <div class="buttons">
                                             <a class="btn btn-theme ripple-effect" href="best-cabs-for-outstation.html">Book Now</a>
                                          </div>
                                         
                                       </div>
                                    </div>
                                 </div>
								 <div class="swiper-slide">
                                    <div class="thumbnail no-border no-padding thumbnail-car-card">
                                       <div class="media">
                                          <a class="media-link" data-gal="prettyPhoto" href="assets/img/preview/portfolio/bus.jpg">
                                          <img src="assets/img/preview/portfolio/bus.jpg" alt=""/>
                                          <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                          </a>
                                       </div>
                                       <div class="caption text-center">
                                          <h4 class="caption-title"><a href="#">BUS</a></h4>
                                          <div class="caption-text">starts at Rs 12 per KM</div>
                                          <div class="buttons">
                                             <a class="btn btn-theme ripple-effect" href="best-cabs-for-outstation.html">Book Now</a>
                                          </div>
                                         
                                       </div>
                                    </div>
                                 </div>
								
                              </div>
                           </div>
                           <!-- If we need navigation buttons -->
                           <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
                           <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
                        </div>
                     </div>
                     <!-- tab 3 -->
                    
                  </div>
               </div>
            </section>
            <!-- /PAGE -->
            <!-- PAGE -->
            
            <!-- /PAGE -->
            <!-- PAGE -->
            
            <!-- /PAGE -->
         </div>
         <!-- /CONTENT AREA -->
         <!-- FOOTER -->
         <footer class="footer">
            <div class="footer-widgets">
               <div class="container">
                  <div class="row">
                     <div class="col-md-3">
                        <div class="widget">
                           <h4 class="widget-title">About Us</h4>
                           <p>We introducing ourselves as a "Sarige Cabs" a chauffeured car rentals company stepping into the ground to serve you better and fulfil requirement of personal / official trip, on local / outstation plans. </p>
                          <ul class="social-icons">
                              <li><a href="https://www.facebook.com/sarige.cabs" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="https://twitter.com/CabsSarige" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="https://www.instagram.com/sarige_cabs/?hl=en" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                              <li><a href="https://in.pinterest.com/sarigec/boards/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                           </ul>
                        </div>
                     </div>
                    
                     <div class="col-md-3">
                        <div class="widget widget-categories">
                           <h4 class="widget-title">Quick Links</h4>
                           <ul>
                              <li><a href="airport-taxis.html">Airport</a></li>
                              <li><a href="tour-packages.html">Tour Packages</a></li>
                              <li><a href="best-cabs-for-outstation.html">Our Fleet</a></li>
                              <li><a href="about.html">About</a></li>
                              <li><a href="contact.html">Contact Us</a></li>
                           </ul>
                        </div>
                     </div>
					  <div class="col-md-3">
                       <div class="widget widget-categories">
                           <h4 class="widget-title">Tour Packages</h4>
                           <ul>
                              <li><a href="andhra.html">Andhra Pradesh</a></li>
                              <li><a href="goa.html">Goa</a></li>
                              <li><a href="karnataka.html">Karnataka</a></li>
                              <li><a href="kerala.html">Kerala</a></li>
                              <li><a href="tamilnadu.html">Tamilnadu</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="widget widget-tag-cloud">
                           <h4 class="widget-title">Contact Us</h4>
                           <ul>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i> #246, 7th Cross, 6th block, <br>BSK 3rd Stage, Kathriguppe,<br> Bengaluru - 560 085</li>
                               <li><i class="fa fa-phone" aria-hidden="true"></i> 080 42076875</li>
                              <li><i class="fa fa-mobile" aria-hidden="true"></i> +91 99800 56565, 99800 62020</li>
                              <li><i class="fa fa-envelope-o" aria-hidden="true"></i> bookings@sarigecabs.com </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer-meta">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="copyright">&copy; 2020 Sarige Cabs Website Designed & Developed By <a href="https://www.sitesolutions.in/" target="_blank" title="Top Webdesigning Bangalore">Site Solutions</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         <!-- /FOOTER -->
         <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>
      </div>
      <!-- /WRAPPER -->
      <!-- JS Global -->
      <script src="assets/plugins/jquery/jquery-1.11.1.min.js"></script>
      <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
      <script src="assets/plugins/superfish/js/superfish.min.js"></script>
      <script src="assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
      <script src="assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
      <script src="assets/plugins/jquery.sticky.min.js"></script>
      <script src="assets/plugins/jquery.easing.min.js"></script>
      <script src="assets/plugins/jquery.smoothscroll.min.js"></script>
      <!--<script src="assets/plugins/smooth-scrollbar.min.js"></script>-->
      <!--<script src="assets/plugins/wow/wow.min.js"></script>-->
      <script>
         // WOW - animated content
         //new WOW().init();
      </script>
      <script src="assets/plugins/swiper/js/swiper.jquery.min.js"></script>
      <script src="assets/plugins/datetimepicker/js/moment-with-locales.min.js"></script>
      <script src="assets/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
      <script src="assets/js/bootstrap-timepicker.js"></script>
      <!-- JS Page Level -->
      <script src="assets/js/theme-ajax-mail.js"></script>
      <script src="assets/js/theme.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script>
$(function () {
   var bindDatePicker = function() {
		$(".date").datetimepicker({
        format:'YYYY-MM-DD',
			icons: {
				time: "fa fa-clock-o",
				date: "fa fa-calendar",
				up: "fa fa-arrow-up",
				down: "fa fa-arrow-down"
			}
		}).find('input:first').on("blur",function () {
			// check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
			// update the format if it's yyyy-mm-dd
			var date = parseDate($(this).val());
			if (! isValidDate(date)) {
				//create date based on momentjs (we have that)
				date = moment().format('YYYY-MM-DD');
			}
			$(this).val(date);
		});
	}
   var isValidDate = function(value, format) {
		format = format || false;
		// lets parse the date to the best of our knowledge
		if (format) {
			value = parseDate(value);
		}
		var timestamp = Date.parse(value);
		return isNaN(timestamp) == false;
   }
   var parseDate = function(value) {
		var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
		if (m)
			value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);
		return value;
   }
   bindDatePicker();
   $('#timepicker1').timepicker();
 });
</script>
	
   </body>
</html>