{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/css/style.css' %}">
    <body>
      <h1>Responstable <span>2.0</span> by <span>jordyvanraaij</span></h1>

      <div class="row">
        <div class="col-lg-6">
          <table class="table table-striped options_cart">
						<thead>
						<tr>
							<th>
								Vechicle
							</th>
							<th>
								Vechicle Type
							</th>
							<th>
								Ac
							</th>
							<th >
								Non Ac
							</th>								
							</tr>
						</thead>
						<tbody>
													<tr>
								<td>
									<img src="{% static 'images/vehicles/7.jpg' %} " width="20" height="20" alt="Image">
								</td>
								<td>
										 <strong>Hatchback (4+1) </strong>
								</td>
								
								<td>	
																	<button disabled class="btn_full" >₹ 0 </button>																			
																	</td>
								<td>	
																	<button class="btn_full trigger_popup_fricc" onclick="if (!window.__cfRLUnblockHandlers) return false; Book(96,2,1950);" data-cf-modified-3efc04a77ddc657abdf21b2c-="">₹ 1950 </button>	
																</td>								
							</tr>					
														<tr>
								<td>
									<img src="{% static 'images/vehicles/3.jpg' %} " width="20" height="20" alt="Image">
								</td>
								<td>
										 <strong>SEDAN (4+1) </strong>
								</td>
								
								<td>	
																	<button disabled class="btn_full" >₹ 0 </button>																			
																	</td>
								<td>	
																	<button class="btn_full trigger_popup_fricc" onclick="if (!window.__cfRLUnblockHandlers) return false; Book(97,2,1950);" data-cf-modified-3efc04a77ddc657abdf21b2c-="">₹ 1950 </button>	
																</td>								
              </tr>	
              <tr>
								<td>
									<img src="{% static 'images/vehicles/6.jpg' %} " width="20" height="20" alt="Image">
								</td>
								<td>
										 <strong>SUV (6+1) </strong>
								</td>
								
								<td>	
																	<button disabled class="btn_full" >₹ 0 </button>																			
																	</td>
								<td>	
																	<button class="btn_full trigger_popup_fricc" onclick="if (!window.__cfRLUnblockHandlers) return false; Book(97,2,1950);" data-cf-modified-3efc04a77ddc657abdf21b2c-="">₹ 1950 </button>	
																</td>								
              </tr>
              <tr>
								<td>
									<img src="{% static 'images/vehicles/8.jpg' %}" width="20" height="20" alt="Image">
								</td>
								<td>
										 <strong>SUV (7+1) </strong>
								</td>
								
								<td>	
																	<button disabled class="btn_full" >₹ 0 </button>																			
																	</td>
								<td>	
																	<button class="btn_full trigger_popup_fricc" onclick="if (!window.__cfRLUnblockHandlers) return false; Book(97,2,1950);" data-cf-modified-3efc04a77ddc657abdf21b2c-="">₹ 1950 </button>	
																</td>								
              </tr>
              <tr>
								<td>
									<img src="{% static 'images/vehicles/18.jpg' %}" width="20" height="20" alt="Image">
								</td>
								<td>
										 <strong>TEMPO TRAVELLER (18+1) </strong>
								</td>
								
								<td>	
																	<button disabled class="btn_full" >₹ 0 </button>																			
																	</td>
								<td>	
																	<button class="btn_full trigger_popup_fricc" onclick="if (!window.__cfRLUnblockHandlers) return false; Book(97,2,1950);" data-cf-modified-3efc04a77ddc657abdf21b2c-="">₹ 1950 </button>	
																</td>								
              </tr>
              <tr>
								<td>
									<img src="{% static 'images/vehicles/20.jpg' %}" width="20" height="20" alt="Image">
								</td>
								<td>
										 <strong>MINI BUS (18+1) </strong>
								</td>
								
								<td>	
																	<button disabled class="btn_full" >₹ 0 </button>																			
																	</td>
								<td>	
																	<button class="btn_full trigger_popup_fricc" onclick="if (!window.__cfRLUnblockHandlers) return false; Book(97,2,1950);" data-cf-modified-3efc04a77ddc657abdf21b2c-="">₹ 1950 </button>	
																</td>								
              </tr>
              <tr>
								<td>
									<img src="{% static 'images/vehicles/20.jpg' %}" width="20" height="20" alt="Image">
								</td>
								<td>
										 <strong>MINII BUS (21+1) </strong>
								</td>
								
								<td>	
																	<button disabled class="btn_full" >₹ 0 </button>																			
																	</td>
								<td>	
																	<button class="btn_full trigger_popup_fricc" onclick="if (!window.__cfRLUnblockHandlers) return false; Book(97,2,1950);" data-cf-modified-3efc04a77ddc657abdf21b2c-="">₹ 1950 </button>	
																</td>								
              </tr>
              <tr>
								<td>
									<img src="{% static 'images/vehicles/mini.jpg' %}" width="20" height="20" alt="Image">
								</td>
								<td>
										 <strong>MIN BUS (25+1) </strong>
								</td>
								
								<td>	
																	<button disabled class="btn_full" >₹ 0 </button>																			
																	</td>
								<td>	
																	<button class="btn_full trigger_popup_fricc" onclick="if (!window.__cfRLUnblockHandlers) return false; Book(97,2,1950);" data-cf-modified-3efc04a77ddc657abdf21b2c-="">₹ 1950 </button>	
																</td>								
              </tr>
              <tr>
								<td>
									<img src="{% static 'images/vehicles/22.jpg' %}" width="20" height="20" alt="Image">
								</td>
								<td>
										 <strong> BUS (33+1) </strong>
								</td>
								
								<td>	
																	<button disabled class="btn_full" >₹ 0 </button>																			
																	</td>
								<td>	
																	<button class="btn_full trigger_popup_fricc" onclick="if (!window.__cfRLUnblockHandlers) return false; Book(97,2,1950);" data-cf-modified-3efc04a77ddc657abdf21b2c-="">₹ 1950 </button>	
																</td>								
              </tr>
              <tr>
								<td>
									<img src="{% static 'images/vehicles/23.jpg' %} " width="20" height="20" alt="Image">
								</td>
								<td>
										 <strong>BUS (40+1) </strong>
								</td>
								
								<td>	
																	<button disabled class="btn_full" >₹ 0 </button>																			
																	</td>
								<td>	
																	<button class="btn_full trigger_popup_fricc" onclick="if (!window.__cfRLUnblockHandlers) return false; Book(97,2,1950);" data-cf-modified-3efc04a77ddc657abdf21b2c-="">₹ 1950 </button>	
																</td>								
              </tr>
              <tr>
								<td>
									<img src="{% static 'images/vehicles/40-1.jpg' %}" width="20" height="20" alt="Image">
								</td>
								<td>
										 <strong>BUS (50+1) </strong>
								</td>
								
								<td>	
																	<button disabled class="btn_full" >₹ 0 </button>																			
																	</td>
								<td>	
																	<button class="btn_full trigger_popup_fricc" onclick="if (!window.__cfRLUnblockHandlers) return false; Book(97,2,1950);" data-cf-modified-3efc04a77ddc657abdf21b2c-="">₹ 1950 </button>	
																</td>								
							</tr>				
													</tbody>
					</table>

        </div>
      </div>

    </body>
  </head>
</html>

